/*GLOBAL------------------------------------------------------------------------------------------------------*/

html {
    font-size: 62.5%;  /* 1rem = 10px*/
}
p {
    margin: 0;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
h1 {
    margin: 0;
}
/*HEADER------------------------------------------------------------------------------------------------------*/
.header {
    height: 100vh;
    background: url('../img/backgroundHeader.jpg') center -100px;
    padding: 50px 0 0;
}
/*Logo-----------------------------------------*/
.header .logo {
    width: 262px;
    height: 126px;
    text-indent: -9999px;
    display: inline-block;
    background: url('../img/spritesheet.png') -864px -20px;
    z-index: 9;
    position: relative;
}
/*Navigation-----------------------------------*/

.header .navigation {
    background: none;
    border: none;
    position: relative;
}
.navigation .menuDrop {
    border: none;
    z-index: 8;
    background: rgba(255,255,255,0.9);
    position: absolute;
}
.header .menuDrop li a {
    font: bold 1.8rem Trebuchet MS;
    color: #000;
}
.header .burger {
    top: 40px;
    border: 1px solid #000;
}
/*First block---------------------------------*/
.header .about1 {
    position: relative;
    font: bold 1.8rem Trebuchet MS;
    z-index: 1;
    padding: 50px 0px 40px 60px;
}
.about1 .back {
    background: rgba(240,240,240,0.8);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    top: 0;
    left: 0;
}
.header .about1::before {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 10px;
    background: url('../img/spritesheet.png') -732px -124px;
    top: 30px;
    left: -10px;
}
.header .about2 {
    background: rgba(176,21,34,0.8);
    color: #fff;
    font: bold 1.4rem Trebuchet MS;
    position: relative;
    padding: 30px 40px 30px 15px;
}
/*MEDIA Tablet Header---------------------------------------------------------------*/
@media screen and (min-width: 768px) {
    .navigation .menuDrop {
        background: none;
        position: relative;
    }
    .menuDrop .navigate {
        position: relative;
        top: 32px;
        border-bottom: 4px solid #91111c;
    }
    .menuDrop .navigate a {
        padding: 15px 0;
        margin: 0 40px 0 0;
    }
    .menuDrop .navigate li:last-child a {
        margin: 0;
    }
    .navigate li:hover a::after {
        content: '';
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #000;
        bottom: -4px;
    }
    .header .about1::before {
        top: 56px;
        left: -40px;
    }
}
/*ADVANTAGES-----------------------------------------------------------------------------------------------*/
.main .advantages {
    padding: 80px 0 150px;
}

.advantages > div {
    margin: 0 0 30px;
}
/*exclus------------------------------------*/
.advantages .exclus {
    padding: 50px 35px 30px;
    border: 4px solid #e0cc91
}
.exclus p {
    font: bold 3rem Trebuchet MS;
    border-bottom: 4px solid #e0cc91;
    padding: 0 0 38px 0;
    margin: 0 0 65px;
}
.exclus a {
    font: 1.6rem 'PT serif';
    color: #000;
    text-decoration: none;
    border-bottom: 4px solid #bd4f61;
    display: inline-block;
    margin: 0 30px 30px 0;
}
.exclus ul {
    display: flex;
    flex-flow: wrap;
}
/*price--------------------------------------*/
.advantages .price {
    padding: 90px 35px 55px;
    font: bold 2.4rem Trebuchet MS;
    border: 4px solid #e0e0e0;
}
.advantages .price::before {
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    background: url('../img/spritesheet.png') -1158px -186px;
    top: 35px;
}
.price .add {
    font: 1.8rem Trebuchet MS;
}
.price p:first-child {
    margin: 0 0 10px;
}
/*chesse--------------------------------------*/
.advantages .cheese {
    padding: 55px 40px 200px;
    font: bold 2.4rem Trebuchet MS;
    color: #fff;
    background: url('../img/spritesheet.png') -90px -460px #000;
    max-width: 460px;
}
.cheese .add {
    font: 1.8rem Trebuchet MS;
}
.cheese p:first-child {
    margin: 0 0 10px 0;
}
/*assort---------------------------------------*/
.advantages .assort {
    padding: 50px 40px 190px;
    font: bold 2.4rem Trebuchet MS;
    color: #fff;
    background: url('../img/spritesheet.png') -140px -20px #000;
    max-width: 460px;
}
/*deliv-------------------------------------*/
.advantages .deliv {
    font: bold 2.4rem Trebuchet MS;
    padding: 85px 35px 55px;
    border: 4px solid #e0e0e0;
}
.deliv .add {
    font: 1.8rem/3rem Trebuchet MS;
}
.deliv p:first-child {
    margin: 0 0 5px;
}
.advantages .deliv::before {
    content: '';
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    background: url('../img/spritesheet.png') -660px -124px;
    top: 35px;
}
/*PRODUCTS------------------------------------------------------------------------------------------------*/
.main .products {
    border-top: 10px solid #f5f5f5;
    padding: 178px 0 88px;
    position: relative;
}
.main .products::before {
    content: '';
    display: block;
    position: absolute;
    width: 80px;
    height: 10px;
    background: url('../img/spritesheet.png') -732px -124px;
    top: -10px;
}
.products h1 {
    position: absolute;
    top: -35px;
    left: 120px;
    font: 4.8rem Trebuchet MS;
}
/*Big--------------------------------------------*/
.products .big {
    padding: 150px 0 160px 280px;
    background: #e0e0e0;
    position: relative;
}
.products .big::before {
    content: '';
    display: block;
    position: absolute;
    background: #eaeaea;
    width: 50%;
    height: 668px; 
    right: 0;
    bottom: 0;
}
.big .name {
    font: bold 3rem Trebuchet MS;
    padding: 0 0 55px;
    position: relative;
}
.big .name::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 80px;
    background: #e0cc91;
    bottom: 25px;
}
.big .inf,
.big .inf2 {
    font: 1.4rem 'PT serif';
    z-index: 2;
    position: relative;
}
.big .inf2 {
    font-weight: bold;
    margin: 0 0 25px;
    position: relative;
}
.big .last {
    margin: 0 0 80px;
}
.big .last::after {
    content: '';
    display: block;
    position: absolute;
    height: 4px;
    width: 80px;
    background: #e0cc91;
    bottom: -35px;
}
.big .price {
    font: bold 2.4rem Trebuchet MS;
    position: relative;
}
.big .price::before {
    content: 'грн';
    position: absolute;
    font: bold 1.4rem Trebuchet MS;
    left: 105px;
    top: 2px;
    border-bottom: 4px solid #bd4f61;
}
.big img {
    position: absolute;
    left: 50px;
    top: 94px;
}